/**
 * @package Helix Framework
 * @author JoomShaper http://www.joomshaper.com
 * @copyright Copyright (c) 2010 - 2014 JoomShaper
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or later
*/

@import 'variables';
@import 'mixins';

/*=========================================
*======= 	Start  General Styles   ==========
*=======================================*/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { 
	letter-spacing: -1px;
	color: #000;
}

body {
	color: @text_color;
	background: @bg_color;
}

#sp-navigation { background: @mainmenu_bg_color;}
#sp-top-bar { 
	background: @header_top_bg_color; 
	border-bottom: 3px solid @header_top_border_bottom_color;
	
	a:hover {
		color: @header_top_link_hover_color;
	}
}

.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-btns a { background: @major_color;}

// Header Background
#sp-header{
	background: @header_bg_color;
}

// Buttons
.btn-primary,
.btn-default,
.catItemReadMore,
.userItemReadMore { 
	background: @major_color; 
	border: 1px solid darken(@major_color, 10%);
	border-bottom-width: 3px;
	color: #fff;
}

.btn-primary:hover, .btn-primary:focus,
.btn-default:hover, .btn-default:focus,
.catItemReadMore:hover, .catItemReadMore:focus,
.userItemReadMore:hover, .userItemReadMore:focus { 
	background: lighten(@major_color, 5%); 
	border: 1px solid darken(@major_color, 5%);
	border-bottom-width: 3px;
}

// for Module Titles

.sp-column .sp-module-title {
 		&:after {
	 		background: @major_color;
		}
}

// Navigation Top Bar Background
#sp-navigation-top-bar { 
	height: 39px;
	padding-top: 7px;
	color: @navigation_top_bar_text_color;
	font-size: 90%;
	background: @mainmenu_hover_bg_color;
	/*background: url(../../images/presets/@{preset}/bg-nav-top-bar.png) 0 0 repeat-x; 
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright:8px;
	-moz-border-radius-bottomleft:0px;
	-moz-border-radius-bottomright:0px;
	-webkit-border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-webkit-border-bottom-left-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;*/
	
	p {
		margin: 0;
	}
	
	a{
		color: @navigation_top_bar_link_color;
		&:hover {
	 		color: darken(@navigation_top_bar_link_color, 30%);
		}
	}
} 
	
// Topbar Social
ul.social-icons {

	>li {

		a {
			color: @social_icons_color;

			&:hover {
				color: darken(@social_icons_color, 50%) !important;
			}
		}
	}
}

// Sp Smart Slider for slideshow module position
.aot_slider{
	.text-wrapper{
			.sp-pretitle{
				/*border-left: 5px solid @link_color !important;*/
			}
			.sp-title{
				/*border-left: 5px solid @link_color !important;*/
			}
			.sp-introtext{
				background-color: @major_color !important;
				color: @navigation_top_bar_text_color !important;
				border-left: 5px solid darken(@major_color, 50%) !important;
			}
	}
	
	.slider-arrow-nav{
		
		i {
			background: @major_color !important;
			&:hover{
				background-color: darken(@major_color, 50%) !important;
			}
		}
	}
}
	
/* End General Styles
 *=======================================*/

// Anchor
a{
	color: darken(@major_color, 10%);
	&:hover {
		color: darken(@major_color, 20%);
	}
}

// Megamenu 
.sp-megamenu-parent {
	>li {
		a{
			color: @mainmenu_text_color;
		}
		&.active:hover>a,
		&:hover>a {
			background-color: @mainmenu_hover_bg_color;
			color: @mainmenu_hover_text_color !important;
		}
		&.active>a {
			background-color: @mainmenu_hover_bg_color;
			color: @mainmenu_hover_text_color !important;
		}
	}

	.sp-dropdown {
		.sp-dropdown-inner {
			background: @dropdown_inner_bg_color !important;
		}
		li.sp-menu-item {
			>a {
				color: @submenu_text_color;
				background: @submenu_bg_color;

				&:hover {
					color: @submenu_hover_text_color;
					background: @submenu_hover_bg_color;
				}
			}
			&.active>a {
				color: @submenu_hover_text_color;
				background: @submenu_hover_bg_color;
				
				&:hover {
					color: @mainmenu_hover_text_color;
				}
			}
		}
	}

}

// Off Canvas
#offcanvas-toggler {
	>i {
		color: @text_color;
		&:hover {
			color: @major_color;
		}
	}
}

//Button
.btn-primary,
.sppb-btn-primary {
	border-color: darken(@major_color, 6%);
	border-bottom-width: 3px;
	background-color: @major_color;

	&:hover {
		border-color: darken(@major_color, 15%);
		background-color: darken(@major_color, 10%);
	}
}

// Topbar Social
ul.social-icons {

	>li {

		a {

			&:hover {
				color: @major_color;
			}
		}
	}
}

/*=========================================
*======= 	Start  Page Title   ============
*=======================================*/
#sp-title {
	min-height: 0;
}

.sp-page-title {
	padding: 30px 0;
	color: @page_title_text_color;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	background: @page_title_bg_color;
	h2,h3 {
		margin: 0;
		padding: 0;
		color: @page_title_text_color;
	}

	h2 {
		color: @page_title_text_color;
		display: inline-block;
		margin-top: 10px;
		font-size: 24px;
		line-height: 1;
		font-weight: 300;
		text-transform: uppercase;
	}

	h3 {
		font-size: 14px;
		font-weight: normal;
		line-height: 1;
		margin-top: 10px;
	}

	.breadcrumb {
		background: none;
		padding: 0;
		margin: 10px 0 0 0;
		font-size: 13px;
		font-weight: 400;
		float: right;

		>span,
		>li,
		>li+li:before,
		>li>a {
			color: @page_title_text_color;
		}
	}
}
/* End Page Title
*=======================================*/

// Body Innerwrapper

.layout-boxed .body-innerwrapper,
#sp-main-body {
	background-color: @bg_color;
}

// Module
.sp-module {
	ul {
		>li {
			>a {
				
				&:hover {
					color: @major_color;
				}
			}
		}
	}

	.latestnews {
		>div {
			>a {
				color: darken(@major_color, 10%);
				&:hover {
					color: darken(@major_color, 20%);
				}
			}
		}
	}

	.tagscloud {
		.tag-name {
			&:hover {
				background: @major_color;
			}	
		}
	}
}

// sp Simple Portfolio
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
	background: @major_color;
}

// Search
.search {
	.btn-toolbar {
		button {
			background: @major_color;
		}
	}
}


// Blog
.post-format {
	background: @major_color;
}

.voting-symbol{
	span.star.active:before{
		color: @major_color;
	}
}

.sp-rating {
	span.star:hover:before,
	span.star:hover ~ span.star:before {
		color: darken(@major_color, 10%);
	}
}

.entry-link,
.entry-quote {
	background: @major_color;
}

blockquote {
	border-color: @major_color;
}

.carousel-left,
.carousel-right {

	&:hover {
		background: @major_color;
	}
}

// Footer
#sp-footer {
	background: @footer_bg_color;
	border-top: 3px solid @footer_border_top_color;
}

// Comingsoon
.sp-comingsoon body {
	background-color: @major_color;
}

// Pagination 
.pagination>li>a,
.pagination>li>span {
	color: @text_color;
	&:hover,
	&:focus {
		color: @text_color;
	}
}

.pagination>.active>a,
.pagination>.active>span {
	border-color: @major_color;
	background-color: @major_color;
	&:hover,
	&:focus {
		border-color: @major_color;
		background-color: @major_color;
	}
}

/*===============================================
*======= 	Start  Module Variations   ==========
*===============================================*/

.module-one {
	/*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, @module_one_color), color-stop(1, darken(@module_one_color,20%)) );
	background:-moz-linear-gradient( center top, @module_one_color 5%, darken(@module_one_color,20%) 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='@module_one_color', endColorstr='darken(@module_one_color,20%)');*/
	background: @module_one_color;
	color: @module_one_text_color;
	margin-left: -15px;
	margin-right: -15px;
	padding: 50px 15px;
	border-top: 1px solid #fff;
	
	a {
		color: @module_one_link_color;
		&:hover,
		&:focus {
			color: lighten(@module_one_link_color,20%);
		}
	}
	.sp-module-title,
	.sppb-feature-box-title,
	.sppb-icon span {
		color: @module_one_text_color;
	}
}
.module-two {
	/*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, @module_two_color), color-stop(1, darken(@module_two_color,20%)) );
	background:-moz-linear-gradient( center top, @module_two_color 5%, darken(@module_two_color,20%) 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='@module_two_color', endColorstr='darken(@module_two_color,20%)');*/
	background: @module_two_color;
	color: @module_two_text_color;
	margin-left: -15px;
	margin-right: -15px;
	padding: 50px 15px;
	border-top: 1px solid #fff;
	
	a {
		color: @module_two_link_color;
		&:hover,
		&:focus {
			color: lighten(@module_two_link_color,20%);
		}
	}
	.sp-module-title,
	.sppb-feature-box-title,
	.sppb-icon span {
		color: @module_two_text_color;
	}
}
.module-three {
	/*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, @module_three_color), color-stop(1, darken(@module_three_color,20%)) );
	background:-moz-linear-gradient( center top, @module_three_color 5%, darken(@module_three_color,20%) 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='@module_three_color', endColorstr='darken(@module_three_color,20%)');*/
	background: @module_three_color;
	color: @module_three_text_color;
	margin-left: -15px;
	margin-right: -15px;
	padding: 50px 15px;
	border-top: 1px solid #fff;
	
	a {
		color: @module_three_link_color;
		&:hover,
		&:focus {
			color: lighten(@module_three_link_color,20%);
		}
	}
	.sp-module-title,
	.sppb-feature-box-title,
	.sppb-icon span {
		color: @module_three_text_color;
	}
}
.module-four {
	/*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, @module_four_color), color-stop(1, darken(@module_four_color,20%)) );
	background:-moz-linear-gradient( center top, @module_four_color 5%, darken(@module_four_color,20%) 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='@module_four_color', endColorstr='darken(@module_four_color,20%)');*/
	background: @module_four_color;
	color: @module_four_text_color;
	margin-left: -15px;
	margin-right: -15px;
	padding: 50px 15px;
	border-top: 1px solid #fff;
	
	a {
		color: @module_four_link_color;
		&:hover,
		&:focus {
			color: lighten(@module_four_link_color,20%);
		}
	}
	.sp-module-title,
	.sppb-feature-box-title,
	.sppb-icon span {
		color: @module_four_text_color;
	}
}


/* 	End  Module Variations  
*===============================================*/

/* Sp Page Builder Start
*===============================================*/

.sppb-carousel-control {
	background: @major_color;
	border: 1px solid darken(@major_color, 10%) !important;
	
	i {
		color: #fff;
	}
}
.sppb-carousel-control:hover {
	background: darken(@major_color, 10%) !important;
}
// for accordion styling
.sppb-panel {
	border: none !important;
}
.sppb-panel-default 
	{
		.sppb-panel-heading {
		  color: #fff;
		  background-color: #424751;
		  -moz-border-radius: 0px;
		  -webkit-border-radius:0px;
		  border-radius:0px;
		}
		.active {
			  color: @mainmenu_hover_text_color;
			  background-color: @major_color !important;
		}
}
// for tabs styling
.sppb-nav-tabs > li > a, 
.sppb-nav-tabs > li > a:hover, 
.sppb-nav-tabs > li > a:focus {
	background-color: #424751;
	border-color: transparent;
	color: #fff;
}

.sppb-nav-tabs > li.active > a, 
.sppb-nav-tabs > li.active > a:hover, 
.sppb-nav-tabs > li.active > a:focus {
	background-color: @major_color;
	border-color: transparent;
	color: @mainmenu_hover_text_color;
}

/* Sp Page Builder End
*===============================================*/

/* RokSpRocket Module Style start 
*===============================================*/
.sprocket-strips-c-title {
	a {
		color: #000000;
		/*color: darken(@major_color, 40%);
		font-size: 17px;*/
	}
}
.sprocket-strips-c-readon {
	font-weight: 400;
	color: @mainmenu_hover_text_color;
	background-color: @major_color;
	border: 1px solid darken(@major_color, 5%);
	border-bottom-width: 3px;
	padding: 4px 10px;
	/*-moz-border-radius: 4px;
	-webkit-border-radius:4px;
	border-radius:4px;*/
	
	&:hover {
		color: darken(@mainmenu_hover_text_color, 10%);
		background-color: lighten(@major_color, 10%);
	}
}
.sprocket-strips-c-text {
  color: #555;
}
.sprocket-strips-c-nav {
	background: @major_color;
	border-bottom: 1px solid darken(@major_color, 5%); 
	border-top: 1px solid darken(@major_color, 5%);
}
.sprocket-features-desc {
	.readon {
		font-weight: 400;
		color: @mainmenu_hover_text_color;
		background-color: @major_color;
		border: 1px solid darken(@major_color, 5%);
		border-bottom-width: 3px;
		padding: 4px 10px;
		/*-moz-border-radius: 4px;
		-webkit-border-radius:4px;
		border-radius:4px;*/
		
		&:hover {
			color: darken(@mainmenu_hover_text_color, 10%);
			background-color: lighten(@major_color, 10%);
		}
	}
}
/* RokSpRocket Module Style end 
*===============================================*/

/* Horizontal Menu Style Start 
*===============================================*/
.horizmenu ul.menu li a {
	color: @header_top_link_color;
}
/* Horizontal Menu Style End 
*===============================================*/

/* Our Team Style Start 
*===============================================*/
.sp-team{
	
	.sp-member{
			text-align: center;
		h3{
			font-size: 18px;
			color: #333;
			font-weight: 600;
		}
		.sp-designation{
			color: darken(@major_color, 10%);
		}
		.sp-description{
			font-size: 13px;
			margin-top: 10px;
		}
		.social-icons{
			margin-top: 30px;
			i{
				width: 30px;
				height: 30px;
				display: inline-block;
				line-height: 30px;
				text-align: center;
				font-size: 14px;
				color: #fff !important;
				margin-right: 5px;
				background: #e6e6e6;
				margin-right: 5px;
				-moz-border-radius: 100%;
				-webkit-border-radius:100%;
				border-radius: 100%;
				
				&:hover{
					color: @white;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					border-radius: 5px;
					.transition(400ms);
					background: @major_color !important;
				}
			}
		}
	}
}

/* Our Team Style End
*===============================================*/

/* K2 Blog Styles start 
/*===============================================*/
.catItemView {

	h3.catItemTitle {
		line-height: 10px;
	
		a{
			color: @major_color;
			font-size: 14px;
			&:hover{
				color: darken(@major_color, 10%);
			}
		}
	}
}



.blogDate{
	background: @major_color;
}

div.k2TagCloudBlock a:hover{
	background: @major_color;
}

div.k2CategoriesListBlock ul li{
	color: @major_color;
}

// K2 Tag list start
.k2TagCloudBlock{
		>a{
			background: @major_color;
			&:hover{
				background: darken(@major_color, 10%) !important;
			}
		}
}
// K2 Tag list end

.catItemView {

	h3.catItemTitle {
		line-height: 10px;
	
		a{
			color: #000;
			font-size: 20px;
			&:hover{
				color: darken(@major_color, 10%);
			}
		}
	}
}

// for K2 buttons
.catItemReadMore,
.userItemReadMore {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  
  a {
	  color: #fff;
	  
	  &:hover {
		  color: #000;
	  }
  }
  
}

/* K2 Blog Styles end 
/*===============================================*/

/*=================================================
*======= 	Start  Subcribe Newsletter   ==========
*================================================*/
.subcription-wrapper {
	padding: 25px 0;
	background: #2D2D39;
	border-top: 5px solid @major_color;
	border-bottom: 5px solid @major_color;
	
	h4 {
		color: #999;
	}
}

.subcription-newsletter{
	.acymailing_form{
		.onefield{
			width: 88%;
			float: left;
		}
		>p{
			margin: 0;
			display: inline-block;
		}
		.acyfield_email{
			>input[type='text'] {
				background: #f6f7f9;
				border-width: 1px;
				border-style: solid;
				border-color: #bcbcbc #dadada #e5e5e5;
				border-right: transparent;
				color: #c0c0c0;
				margin: 0 0 0 25px;
				height: 40px !important;
				padding-left: 15px;
			}
		}
		.acysubbuttons{ 
			position: relative;
			>input[type='submit'] {
				text-indent: -9999em;
				height: 40px;
				width: 40px;
				padding: 0;
				display: inline-block;
				margin-left: -1px;
				border: none;
				.border-radius(0);
			}
			&:after{
				content: "\f105";
				font-family: FontAwesome;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -11px;
				margin-left: -3px;
				color: #fff;
				font-size: 20px;
				font-weight: normal;
				cursor: pointer;
			}
		}
	}
}
/* End Newsletter
 *=======================================*/


