/* for General Styles
/* --------------------------------------------------------------------- */

.contact .page-header {
	margin-top: -10px;
}

/* for SP Page Builder
/* --------------------------------------------------------------------- */
#sp-page-builder .page-content .sppb-section {
	margin-top: 0px;
}
.sppb-title-subheading { font-size: 15px !important;}

.dark-background-for-text .sppb-cta-title,
.dark-background-for-text .sppb-cta-subtitle {
	background: #2D2D39;
	padding: 5px 10px;
	display: inline-block;
}

.light-background-for-text .sppb-cta-title,
.light-background-for-text .sppb-cta-subtitle {
	background: #fff;
	padding: 5px 10px;
	display: inline-block;
}

/* for SP Smart Slider
/* --------------------------------------------------------------------- */
.sp-iStoreii-layout .controller-prev i,
.sp-iStoreii-layout .controller-next i {
  margin-top: 0px !important;
  top: 40% !important;
}

.sp-iStoreii-layout .sp-slider-content a.btn-more { color: #fff !important;}

/* for SP Simple Portfolio
/* --------------------------------------------------------------------- */
.sp-simpleportfolio-item .sp-vertical-middle {
  margin-top: 0px !important;
}
.sp-simpleportfolio .sp-simpleportfolio-meta h4 { font-weight: normal !important;}

/* for SP Page Builder
/* --------------------------------------------------------------------- */
#sp-page-builder h4 { font-weight: 400;}
.sppb-cta-title { letter-spacing: -2px;}

.sppb-btn-danger { background-color: #EE1900;}
.sppb-btn-info { background-color: #00BCF2;}
.sppb-btn-success { background-color: #9EC22A;}
.sppb-addon-content .floatleft { float: left; margin-right: 10px; margin-top: 7px;}
.sppb-addon-content .floatright { float: right; margin-left: 10px; margin-top: 7px;}

.sppb-panel-group .sppb-panel {
  border-radius: 0px;
}
.sppb-panel-group .sppb-panel + .sppb-panel {
  margin-top: 1px;
}

.sppb-panel-group .sppb-panel-title { font-size: 14px; font-weight: 400 !important; letter-spacing: 0px !important;}

.sppb-panel {
  -webkit-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05);
}

.sppb-section .whitetext {
	color: #fff;
}
.sppb-section .blacktext {
	color: #000;
}
.sppb-section .video-bg-dark {
	background: transparent url(../images/sp-smart-slider-introtext-videobg-dark.png) 0 0 repeat !important;
	padding: 1px 10px 17px;
	color: #fff !important;
}

/* Separator Start */
/* --------------------------------------------------------------------- */
.aot-separator {
	height:1px; 
	background-color: #e1e1e1;
	width:50%;
	margin-left: 25%;
    margin-top: 25px;
    margin-bottom: 25px;
}
.aot-separator-style {
	background-color: #FCFCFC;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border-style: solid;
	border-color: #e1e1e1;
    border-width: 2px;
    display: block;
    height: 9px;
    left: 50%;
    margin-left: -5px;
    margin-top: -4px;
    position: absolute;
    width: 9px;
}
.aot-separator-left {
	height:1px; 
	background-color: #e1e1e1;
	width:50%;
	/*margin-left: 25%;*/
    margin-top: 25px;
    margin-bottom: 25px;
}
.aot-separator-left-style {
	background-color: #FCFCFC;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border-style: solid;
	border-color: #e1e1e1;
    border-width: 2px;
    display: block;
    height: 9px;
    /*left: 50%;*/
    margin-left: 0px;
    margin-top: -4px;
    position: absolute;
    width: 9px;
}
.aot-separator-right {
	height:1px; 
	background-color: #e1e1e1;
	width:50%;
	margin-left: 50%;
    margin-top: 25px;
    margin-bottom: 25px;
}
.aot-separator-right-style {
	background-color: #FCFCFC;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border-style: solid;
	border-color: #e1e1e1;
    border-width: 2px;
    display: block;
    height: 9px;
    right: 0;
    margin-right: 6px;
    margin-top: -4px;
    position: absolute;
    width: 9px;
}
/* Seperator End */
/* --------------------------------------------------------------------- */

/* RokSpRocket Module Style start */
/* --------------------------------------------------------------------- */
.sprocket-strips-c-container {
  margin: 0 -0.75% 0 0 !important;
}
.sprocket-quotes-item {
	background: transparent !important;
	text-align: center;
	border-radius: 0px !important;
	box-shadow: none !important;
}
.sprocket-quotes-image {
	float: none !important;
}
.sprocket-quotes-item:before,
.sprocket-quotes-item:after {
	display: none !important;
}

/* Headlines Styles */
.sprocket-headlines {
	background: transparent !important;
	border: none !important;
}
.sprocket-headlines-item {
	font-size: 1em !important;
	line-height: 1em !important;
}
.sprocket-headlines ul {
	padding: 8px 0px 3px !important;
}
.sprocket-headlines li {
	border: none !important;
}
.sprocket-headlines-navigation {
	padding: 0 0 5px !important;
}
.sprocket-headlines-navigation .arrow {
	background: none !important;
	box-shadow: none !important;
	font-size: 1.5em !important;
	font-weight: normal !important;
}
.sprocket-headlines-badge {
	margin-left: -10px !important;
}
.sprocket-headlines-badge span {
	font-weight: normal !important;
	font-size: 1em !important;
	line-height: 8px !important;
	padding-top: 7px 10px 10px !important;
}

.sprocket-strips-c { overflow: hidden;}

/* for slideshow */
.sprocket-strips-c-overlay .css-loader{
	border-width: 5px !important;
	width: 20px !important;
	height: 20px !important;
}
.layout-slideshow2 .sprocket-features-content {
	width: 100% !important;
	margin: 0 !important;
}
.layout-boxed .sprocket-features-img-container img {
	height: 415px !important;
}
/* Features - Layout Slideshow2 - Content */
.layout-slideshow2 .sprocket-features-content::before { border-bottom: 12px solid rgba(0,0,0,0.7) !important; }
.layout-slideshow2 .sprocket-features-content { background: rgba(0,0,0,0.7) !important; }

/* For bottom modules */
#sp-bottom .sprocket-lists-portrait-title { margin: 9px 0;}

/* RokSpRocket Module Style End */
/* --------------------------------------------------------------------- */

/* Horizontal Menu Style Start */
/* --------------------------------------------------------------------- */
.horizmenu { margin-left: -10px !important;}
.horizmenu ul.menu {margin: 0; padding: 0px; list-style: none; display: inline-block;}
.horizmenu ul.menu li {list-style: none; display: inline-block; border: none; -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none; font-family: tahoma;}
.horizmenu ul.menu li a, 
.horizmenu ul.menu li .item, 
.horizmenu ul.menu li .separator { background: none; display: inline-block; font-size: 11px; padding: 2px 11px; position: relative;line-height: 1.6em;z-index: 0;transition: background-color 0.1s ease-out;background-image: none; }

.horizmenu ul.menu li a:hover { margin: 0px; background-repeat: repeat-x; background-position: 0 8px;}
.horizmenu ul.menu li .item:hover, 
.horizmenu ul.menu li .separator:hover, 
.horizmenu ul.menu li.active a, 
.horizmenu ul.menu li.active .item, 
.horizmenu ul.menu li.active .separator {margin: 0px;background-repeat: repeat-x;background-position: 0 8px;}

.horizmenu ul.menu li a span, .horizmenu ul.menu li .item span, .horizmenu ul.menu li .separator span {padding: 0;display: inline-block;}
.horizmenu ul.menu li a:after, .horizmenu ul.menu li .item:after, .horizmenu ul.menu li .separator:after {content: "";position: absolute;top: 0;right: 0;left: 0;bottom: 0;z-index: -1;}
.horizmenu .module-content .menu li {list-style: none;padding: 0;margin: 0;}
/* Horizontal Menu Style End */
/* --------------------------------------------------------------------- */

/* For MegaMenu Styles Start */
/* --------------------------------------------------------------------- */
.sp-megamenu-parent .form-links {
  display: none;
}
.sp-megamenu-parent .sp-module-title {
  color: #fff;
  border-bottom: 1px solid #fff;
}
/* For MegaMenu Styles End */
/* --------------------------------------------------------------------- */

/* Some Additional Styles Start */
/* --------------------------------------------------------------------- */
.darktext { color: #444444;}
.lighttext { color: #ffffff;}

/*#sp-right { border-left: 1px solid #ddd;}
#sp-left { border-right: 1px solid #ddd;}*/

/* Some Additional Styles End */
/* --------------------------------------------------------------------- */