.form-control {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,0.6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
textarea.form-control {
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  letter-spacing: -1px;
  color: #000;
}
body {
  color: #777777;
  background: #ffffff;
}
#sp-navigation {
  background: #2d2d39;
}
#sp-top-bar {
  background: #383847;
  border-bottom: 3px solid #2196f3;
}
#sp-top-bar a:hover {
  color: #2196f3;
}
.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-btns a {
  background: #08a0ff;
}
#sp-header {
  background: #08a0ff;
}
.btn-primary,
.btn-default,
.catItemReadMore,
.userItemReadMore {
  background: #08a0ff;
  border: 1px solid #0082d4;
  border-bottom-width: 3px;
  color: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-default:hover,
.btn-default:focus,
.catItemReadMore:hover,
.catItemReadMore:focus,
.userItemReadMore:hover,
.userItemReadMore:focus {
  background: #22aaff;
  border: 1px solid #0092ee;
  border-bottom-width: 3px;
}
.sp-column .sp-module-title:after {
  background: #08a0ff;
}
#sp-navigation-top-bar {
  height: 39px;
  padding-top: 7px;
  color: #ffffff;
  font-size: 90%;
  background: #2196f3;
}
#sp-navigation-top-bar p {
  margin: 0;
}
#sp-navigation-top-bar a {
  color: #ffffff;
}
#sp-navigation-top-bar a:hover {
  color: #b3b3b3;
}
ul.social-icons >li a {
  color: #ffffff;
}
ul.social-icons >li a:hover {
  color: #808080 !important;
}
.aot_slider .text-wrapper .sp-introtext {
  background-color: #08a0ff !important;
  color: #ffffff !important;
  border-left: 5px solid #000508 !important;
}
.aot_slider .slider-arrow-nav i {
  background: #08a0ff !important;
}
.aot_slider .slider-arrow-nav i:hover {
  background-color: #000508 !important;
}
a {
  color: #0082d4;
}
a:hover {
  color: #0063a1;
}
.sp-megamenu-parent >li a {
  color: #ffffff;
}
.sp-megamenu-parent >li.active:hover>a,
.sp-megamenu-parent >li:hover>a {
  background-color: #2196f3;
  color: #ffffff !important;
}
.sp-megamenu-parent >li.active>a {
  background-color: #2196f3;
  color: #ffffff !important;
}
.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner {
  background: #2196f3 !important;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a {
  color: #ebebeb;
  background: #2196f3;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover {
  color: #ffffff;
  background: #2d2d39;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: #ffffff;
  background: #2d2d39;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a:hover {
  color: #ffffff;
}
#offcanvas-toggler >i {
  color: #777777;
}
#offcanvas-toggler >i:hover {
  color: #08a0ff;
}
.btn-primary,
.sppb-btn-primary {
  border-color: #008fe8;
  border-bottom-width: 3px;
  background-color: #08a0ff;
}
.btn-primary:hover,
.sppb-btn-primary:hover {
  border-color: #0073bb;
  background-color: #0082d4;
}
ul.social-icons >li a:hover {
  color: #08a0ff;
}
#sp-title {
  min-height: 0;
}
.sp-page-title {
  padding: 30px 0;
  color: #2d2d39;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  background: #efefef;
}
.sp-page-title h2,
.sp-page-title h3 {
  margin: 0;
  padding: 0;
  color: #2d2d39;
}
.sp-page-title h2 {
  color: #2d2d39;
  display: inline-block;
  margin-top: 10px;
  font-size: 24px;
  line-height: 1;
  font-weight: 300;
  text-transform: uppercase;
}
.sp-page-title h3 {
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  margin-top: 10px;
}
.sp-page-title .breadcrumb {
  background: none;
  padding: 0;
  margin: 10px 0 0 0;
  font-size: 13px;
  font-weight: 400;
  float: right;
}
.sp-page-title .breadcrumb >span,
.sp-page-title .breadcrumb >li,
.sp-page-title .breadcrumb >li+li:before,
.sp-page-title .breadcrumb >li>a {
  color: #2d2d39;
}
.layout-boxed .body-innerwrapper,
#sp-main-body {
  background-color: #ffffff;
}
.sp-module ul >li >a:hover {
  color: #08a0ff;
}
.sp-module .latestnews >div >a {
  color: #0082d4;
}
.sp-module .latestnews >div >a:hover {
  color: #0063a1;
}
.sp-module .tagscloud .tag-name:hover {
  background: #08a0ff;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  background: #08a0ff;
}
.search .btn-toolbar button {
  background: #08a0ff;
}
.post-format {
  background: #08a0ff;
}
.voting-symbol span.star.active:before {
  color: #08a0ff;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: #0082d4;
}
.entry-link,
.entry-quote {
  background: #08a0ff;
}
blockquote {
  border-color: #08a0ff;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #08a0ff;
}
#sp-footer {
  background: #2d2d39;
  border-top: 3px solid #2196f3;
}
.sp-comingsoon body {
  background-color: #08a0ff;
}
.pagination>li>a,
.pagination>li>span {
  color: #777777;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #777777;
}
.pagination>.active>a,
.pagination>.active>span {
  border-color: #08a0ff;
  background-color: #08a0ff;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  border-color: #08a0ff;
  background-color: #08a0ff;
}
.module-one {
  background: #455a64;
  color: #ffffff;
  margin-left: -15px;
  margin-right: -15px;
  padding: 50px 15px;
  border-top: 1px solid #fff;
}
.module-one a {
  color: #f4cb0d;
}
.module-one a:hover,
.module-one a:focus {
  color: #f8e06f;
}
.module-one .sp-module-title,
.module-one .sppb-feature-box-title,
.module-one .sppb-icon span {
  color: #ffffff;
}
.module-two {
  background: #37474f;
  color: #ffffff;
  margin-left: -15px;
  margin-right: -15px;
  padding: 50px 15px;
  border-top: 1px solid #fff;
}
.module-two a {
  color: #f4cb0d;
}
.module-two a:hover,
.module-two a:focus {
  color: #f8e06f;
}
.module-two .sp-module-title,
.module-two .sppb-feature-box-title,
.module-two .sppb-icon span {
  color: #ffffff;
}
.module-three {
  background: #08a0ff;
  color: #ffffff;
  margin-left: -15px;
  margin-right: -15px;
  padding: 50px 15px;
  border-top: 1px solid #fff;
}
.module-three a {
  color: #f4cb0d;
}
.module-three a:hover,
.module-three a:focus {
  color: #f8e06f;
}
.module-three .sp-module-title,
.module-three .sppb-feature-box-title,
.module-three .sppb-icon span {
  color: #ffffff;
}
.module-four {
  background: #263238;
  color: #ffffff;
  margin-left: -15px;
  margin-right: -15px;
  padding: 50px 15px;
  border-top: 1px solid #fff;
}
.module-four a {
  color: #f4cb0d;
}
.module-four a:hover,
.module-four a:focus {
  color: #f8e06f;
}
.module-four .sp-module-title,
.module-four .sppb-feature-box-title,
.module-four .sppb-icon span {
  color: #ffffff;
}
.sppb-carousel-control {
  background: #08a0ff;
  border: 1px solid #0082d4 !important;
}
.sppb-carousel-control i {
  color: #fff;
}
.sppb-carousel-control:hover {
  background: #0082d4 !important;
}
.sppb-panel {
  border: none !important;
}
.sppb-panel-default .sppb-panel-heading {
  color: #fff;
  background-color: #424751;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.sppb-panel-default .active {
  color: #ffffff;
  background-color: #08a0ff !important;
}
.sppb-nav-tabs > li > a,
.sppb-nav-tabs > li > a:hover,
.sppb-nav-tabs > li > a:focus {
  background-color: #424751;
  border-color: transparent;
  color: #fff;
}
.sppb-nav-tabs > li.active > a,
.sppb-nav-tabs > li.active > a:hover,
.sppb-nav-tabs > li.active > a:focus {
  background-color: #08a0ff;
  border-color: transparent;
  color: #ffffff;
}
.sprocket-strips-c-title a {
  color: #000000;
}
.sprocket-strips-c-readon {
  font-weight: 400;
  color: #ffffff;
  background-color: #08a0ff;
  border: 1px solid #0092ee;
  border-bottom-width: 3px;
  padding: 4px 10px;
}
.sprocket-strips-c-readon:hover {
  color: #e6e6e6;
  background-color: #3bb4ff;
}
.sprocket-strips-c-text {
  color: #555;
}
.sprocket-strips-c-nav {
  background: #08a0ff;
  border-bottom: 1px solid #0092ee;
  border-top: 1px solid #0092ee;
}
.sprocket-features-desc .readon {
  font-weight: 400;
  color: #ffffff;
  background-color: #08a0ff;
  border: 1px solid #0092ee;
  border-bottom-width: 3px;
  padding: 4px 10px;
}
.sprocket-features-desc .readon:hover {
  color: #e6e6e6;
  background-color: #3bb4ff;
}
.horizmenu ul.menu li a {
  color: #acacac;
}
.sp-team .sp-member {
  text-align: center;
}
.sp-team .sp-member h3 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}
.sp-team .sp-member .sp-designation {
  color: #0082d4;
}
.sp-team .sp-member .sp-description {
  font-size: 13px;
  margin-top: 10px;
}
.sp-team .sp-member .social-icons {
  margin-top: 30px;
}
.sp-team .sp-member .social-icons i {
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: #fff !important;
  margin-right: 5px;
  background: #e6e6e6;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.sp-team .sp-member .social-icons i:hover {
  color: ;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
  background: #08a0ff !important;
}
.catItemView h3.catItemTitle {
  line-height: 10px;
}
.catItemView h3.catItemTitle a {
  color: #08a0ff;
  font-size: 14px;
}
.catItemView h3.catItemTitle a:hover {
  color: #0082d4;
}
.blogDate {
  background: #08a0ff;
}
div.k2TagCloudBlock a:hover {
  background: #08a0ff;
}
div.k2CategoriesListBlock ul li {
  color: #08a0ff;
}
.k2TagCloudBlock >a {
  background: #08a0ff;
}
.k2TagCloudBlock >a:hover {
  background: #0082d4 !important;
}
.catItemView h3.catItemTitle {
  line-height: 10px;
}
.catItemView h3.catItemTitle a {
  color: #000;
  font-size: 20px;
}
.catItemView h3.catItemTitle a:hover {
  color: #0082d4;
}
.catItemReadMore,
.userItemReadMore {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.catItemReadMore a,
.userItemReadMore a {
  color: #fff;
}
.catItemReadMore a:hover,
.userItemReadMore a:hover {
  color: #000;
}
.subcription-wrapper {
  padding: 25px 0;
  background: #2D2D39;
  border-top: 5px solid #08a0ff;
  border-bottom: 5px solid #08a0ff;
}
.subcription-wrapper h4 {
  color: #999;
}
.subcription-newsletter .acymailing_form .onefield {
  width: 88%;
  float: left;
}
.subcription-newsletter .acymailing_form >p {
  margin: 0;
  display: inline-block;
}
.subcription-newsletter .acymailing_form .acyfield_email >input[type='text'] {
  background: #f6f7f9;
  border-width: 1px;
  border-style: solid;
  border-color: #bcbcbc #dadada #e5e5e5;
  border-right: transparent;
  color: #c0c0c0;
  margin: 0 0 0 25px;
  height: 40px !important;
  padding-left: 15px;
}
.subcription-newsletter .acymailing_form .acysubbuttons {
  position: relative;
}
.subcription-newsletter .acymailing_form .acysubbuttons >input[type='submit'] {
  text-indent: -9999em;
  height: 40px;
  width: 40px;
  padding: 0;
  display: inline-block;
  margin-left: -1px;
  border: none;
}
.subcription-newsletter .acymailing_form .acysubbuttons:after {
  content: "\f105";
  font-family: FontAwesome;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -11px;
  margin-left: -3px;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  cursor: pointer;
}
