.form-control {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,0.6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
textarea.form-control {
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  letter-spacing: -1px;
  color: #000;
}
body {
  color: #777777;
  background: #ffffff;
}
#sp-navigation {
  background: #2d2d39;
}
#sp-top-bar {
  background: #464353;
  border-bottom: 3px solid #62728d;
}
#sp-top-bar a:hover {
  color: #62728d;
}
.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-btns a {
  background: #71809d;
}
#sp-header {
  background: #71809d;
}
.btn-primary,
.btn-default {
  background: #71809d;
  border: 1px solid #596782;
  border-bottom-width: 3px;
  color: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-default:hover,
.btn-default:focus {
  background: #808da7;
  border: 1px solid #647391;
  border-bottom-width: 3px;
}
.sp-column .sp-module-title:after {
  background: #71809d;
}
#sp-navigation-top-bar {
  height: 39px;
  padding-top: 7px;
  color: #cccccc;
  font-size: 90%;
  background: #62728d;
}
#sp-navigation-top-bar p {
  margin: 0;
}
#sp-navigation-top-bar a {
  color: #cccccc;
}
#sp-navigation-top-bar a:hover {
  color: #808080;
}
ul.social-icons >li a {
  color: #ffffff;
}
ul.social-icons >li a:hover {
  color: #808080 !important;
}
.aot_slider .text-wrapper .sp-introtext {
  background-color: #71809d !important;
  color: #cccccc !important;
  border-left: 5px solid #060709 !important;
}
.aot_slider .slider-arrow-nav i {
  background: #71809d !important;
}
.aot_slider .slider-arrow-nav i:hover {
  background-color: #060709 !important;
}
a {
  color: #596782;
}
a:hover {
  color: #454f63;
}
.sp-megamenu-parent >li a {
  color: #ffffff;
}
.sp-megamenu-parent >li.active:hover>a,
.sp-megamenu-parent >li:hover>a {
  background-color: #62728d;
  color: #ffffff !important;
}
.sp-megamenu-parent >li.active>a {
  background-color: #62728d;
  color: #ffffff !important;
}
.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner {
  background: #62728d !important;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a {
  color: #ffffff;
  background: #62728d;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover {
  color: #ffffff;
  background: #2d2d39;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: #ffffff;
  background: #2d2d39;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a:hover {
  color: #ffffff;
}
#offcanvas-toggler >i {
  color: #777777;
}
#offcanvas-toggler >i:hover {
  color: #71809d;
}
.btn-primary,
.sppb-btn-primary {
  border-color: #62718e;
  border-bottom-width: 3px;
  background-color: #71809d;
}
.btn-primary:hover,
.sppb-btn-primary:hover {
  border-color: #4f5b72;
  background-color: #596782;
}
ul.social-icons >li a:hover {
  color: #71809d;
}
#sp-title {
  min-height: 0;
}
.sp-page-title {
  padding: 30px 0;
  color: #464353;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  background: #efefef;
}
.sp-page-title h2,
.sp-page-title h3 {
  margin: 0;
  padding: 0;
  color: #464353;
}
.sp-page-title h2 {
  color: #464353;
  display: inline-block;
  margin-top: 10px;
  font-size: 24px;
  line-height: 1;
  font-weight: 300;
  text-transform: uppercase;
}
.sp-page-title h3 {
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  margin-top: 10px;
}
.sp-page-title .breadcrumb {
  background: none;
  padding: 0;
  margin: 10px 0 0 0;
  font-size: 13px;
  font-weight: 400;
  float: right;
}
.sp-page-title .breadcrumb >span,
.sp-page-title .breadcrumb >li,
.sp-page-title .breadcrumb >li+li:before,
.sp-page-title .breadcrumb >li>a {
  color: #464353;
}
.layout-boxed .body-innerwrapper,
#sp-main-body {
  background-color: #ffffff;
}
.sp-module ul >li >a:hover {
  color: #71809d;
}
.sp-module .latestnews >div >a {
  color: #596782;
}
.sp-module .latestnews >div >a:hover {
  color: #454f63;
}
.sp-module .tagscloud .tag-name:hover {
  background: #71809d;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  background: #71809d;
}
.search .btn-toolbar button {
  background: #71809d;
}
.post-format {
  background: #71809d;
}
.voting-symbol span.star.active:before {
  color: #71809d;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: #596782;
}
.entry-link,
.entry-quote {
  background: #71809d;
}
blockquote {
  border-color: #71809d;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #71809d;
}
#sp-footer {
  background: #464353;
  border-top: 3px solid #62728d;
}
.sp-comingsoon body {
  background-color: #71809d;
}
.pagination>li>a,
.pagination>li>span {
  color: #777777;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #777777;
}
.pagination>.active>a,
.pagination>.active>span {
  border-color: #71809d;
  background-color: #71809d;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  border-color: #71809d;
  background-color: #71809d;
}
.module-one {
  background: #455a64;
  color: #ffffff;
  margin-left: -15px;
  margin-right: -15px;
  padding: 50px 15px;
  border-top: 1px solid #fff;
}
.module-one a {
  color: #f4cb0d;
}
.module-one a:hover,
.module-one a:focus {
  color: #f8e06f;
}
.module-one .sp-module-title,
.module-one .sppb-feature-box-title,
.module-one .sppb-icon span {
  color: #ffffff;
}
.module-two {
  background: #f4cb0d;
  color: #263238;
  margin-left: -15px;
  margin-right: -15px;
  padding: 50px 15px;
  border-top: 1px solid #fff;
}
.module-two a {
  color: #f4cb0d;
}
.module-two a:hover,
.module-two a:focus {
  color: #f8e06f;
}
.module-two .sp-module-title,
.module-two .sppb-feature-box-title,
.module-two .sppb-icon span {
  color: #263238;
}
.module-three {
  background: #62728d;
  color: #ffffff;
  margin-left: -15px;
  margin-right: -15px;
  padding: 50px 15px;
  border-top: 1px solid #fff;
}
.module-three a {
  color: #f4cb0d;
}
.module-three a:hover,
.module-three a:focus {
  color: #f8e06f;
}
.module-three .sp-module-title,
.module-three .sppb-feature-box-title,
.module-three .sppb-icon span {
  color: #ffffff;
}
.module-four {
  background: #263238;
  color: #ffffff;
  margin-left: -15px;
  margin-right: -15px;
  padding: 50px 15px;
  border-top: 1px solid #fff;
}
.module-four a {
  color: #f4cb0d;
}
.module-four a:hover,
.module-four a:focus {
  color: #f8e06f;
}
.module-four .sp-module-title,
.module-four .sppb-feature-box-title,
.module-four .sppb-icon span {
  color: #ffffff;
}
.sppb-carousel-control {
  background: #71809d;
  border: 1px solid #596782 !important;
}
.sppb-carousel-control i {
  color: #fff;
}
.sppb-carousel-control:hover {
  background: #596782 !important;
}
.sppb-panel {
  border: none !important;
}
.sppb-panel-default .sppb-panel-heading {
  color: #fff;
  background-color: #424751;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.sppb-panel-default .active {
  color: #ffffff;
  background-color: #71809d !important;
}
.sppb-nav-tabs > li > a,
.sppb-nav-tabs > li > a:hover,
.sppb-nav-tabs > li > a:focus {
  background-color: #424751;
  border-color: transparent;
  color: #fff;
}
.sppb-nav-tabs > li.active > a,
.sppb-nav-tabs > li.active > a:hover,
.sppb-nav-tabs > li.active > a:focus {
  background-color: #71809d;
  border-color: transparent;
  color: #ffffff;
}
.sprocket-strips-c-title a {
  color: #000000;
}
.sprocket-strips-c-readon {
  font-weight: 400;
  color: #ffffff;
  background-color: #71809d;
  border: 1px solid #647391;
  border-bottom-width: 3px;
  padding: 4px 10px;
}
.sprocket-strips-c-readon:hover {
  color: #e6e6e6;
  background-color: #8f9bb2;
}
.sprocket-strips-c-text {
  color: #555;
}
.sprocket-strips-c-nav {
  background: #71809d;
  border-bottom: 1px solid #647391;
  border-top: 1px solid #647391;
}
.sprocket-features-desc .readon {
  font-weight: 400;
  color: #ffffff;
  background-color: #71809d;
  border: 1px solid #647391;
  border-bottom-width: 3px;
  padding: 4px 10px;
}
.sprocket-features-desc .readon:hover {
  color: #e6e6e6;
  background-color: #8f9bb2;
}
.horizmenu ul.menu li a {
  color: #acacac;
}
.sp-team .sp-member {
  text-align: center;
}
.sp-team .sp-member h3 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}
.sp-team .sp-member .sp-designation {
  color: #596782;
}
.sp-team .sp-member .sp-description {
  font-size: 13px;
  margin-top: 10px;
}
.sp-team .sp-member .social-icons {
  margin-top: 30px;
}
.sp-team .sp-member .social-icons i {
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: #fff !important;
  margin-right: 5px;
  background: #e6e6e6;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.sp-team .sp-member .social-icons i:hover {
  color: ;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
  background: #71809d !important;
}
